/*SECCIONES DEL DASHBOARD*/

.nav-classroom{
    background-color: rgb(108, 188, 29);
    border-bottom: rgb(223, 130, 120) 2px solid;
    border-radius: 0px 0px 2px 2px;
}

.left-side{
    background-color: rgb(200, 237, 163);
}

.right-side{
    background-color: rgb(236, 155, 146);
}

.btn-admin{
    background-color: salmon;
}

.btn-user{
    background-color: rgb(149, 228, 80);
}

.second-color{
    text-decoration-color: rgb(228, 184, 80);
}


.post{
    background-color: rgb(140, 206, 112);
}

.comment{
    background-color: rgb(248, 138, 95);
}