/*LOGIN-REGISTER SECTIONS*/
html, body {
    height: 100%;
   
}

#root {
    height: 100vh;
    /* o height: 100vh; overflow-y*/    
}

.bg1 {
    background-image: url("../src/assets/students.jpg");
    background-color: rgb(222, 218, 213);
    
    height: 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
}

textarea{
    max-height: 110px;
    overflow-y: auto;
}

input[type="file"] {
    display: none;
}

.post-space{
    height: calc(80vh - 60px); /* menos el header */
    overflow-y: auto;
}



