/*LOGIN-REGISTER SECTIONS*/
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#root {
    height: 100%;
    overflow: hidden;
    /* o height: 100vh; overflow-y*/    
}


.bg1 {
    background-image: url("../src/assets/students.jpg");
    background-color: rgb(222, 218, 213);
    
    height: 100%;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
}

textarea{
    max-height: 110px;
    overflow-y: auto;
}

input[type="file"] {
    display: none;
}

.post-space{
    height: calc(80dvh - 58px); /* menos el header */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Habilita el scroll fluido en iOS */
    overscroll-behavior-y: contain;     /* Evita que el scroll "arrastre" toda la página (el efecto rebote) */
}

/*POST SPACE SCROLLBAR*/
.post-space::-webkit-scrollbar {
    width: 5px; /* Scrollbar width */
}

.post-space::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
    border-radius: 5px;
}

.post-space::-webkit-scrollbar-thumb {
    background: #888; /* Handle color */
    border-radius: 5px;
}

.post-space::-webkit-scrollbar-thumb:hover {
    background: #555; /* Handle hover color */
}




@media (max-width: 768px) {
  html, body {
    overflow: auto;
    height: auto;
  }
  
  .contenedor-actividad {
    height: auto;
    overflow-y: visible;
  }
}



